
.centered-header {
    text-align: center;
}

.products-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.product-card {
    outline: 1px solid grey;
    width: 200px;
    height: 320px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.search-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-menu-section {
    display: flex;
    flex-direction: column;
    outline: 1px solid darkslategray;
    padding: 10px;
    gap: 10px;
}
